<%- include('header'); -%>
  <h1><%= title %></h1>
  <p>This is an educational app with fake data and the possibility for anyone to update it.</p>

  <article class="record-counts">
    <h3>The inventory has the following record counts:</h3>
    <ul>
      <li>Categories: <%= category_count %></li>
      <li>Items: <%= item_count %></li>
    </ul>
  </article>
<%- include('footer'); -%>
