<%- include('header'); -%>
  <h1><%= title %></h1>

  <form method="POST" action="">
    <div>
      <label for="name">Name:</label>
      <input type="text" name="name" id="name" placeholder="Item name" required value="<%= item !== undefined ? item.name : "" %>">
    </div>

    <div>
      <label for="description">Description:</label>
      <textarea name="description" id="description" rows="3" placeholder="Item description" required><%= item !== undefined ? item.description : "" %></textarea>
    </div>

    <div>
      <label for="category">Category:</label>
      <select name="category" id="category" required>
        <option value="">--Please select the category--</option>

        <% if (category_list.length) { %>
          <% category_list.forEach(category => { %>
              <% if (item && item.category._id.toString() === category._id.toString()) { %>
                <option value="<%= category._id %>" selected><%= category.name %></option>
              <% } else { %>
                <option value="<%= category._id %>"><%= category.name %></option>
              <% } %>
          <% }) %>
        <% } %>
      </select>
    </div>

    <div>
      <label for="price">Price (USD):</label>
      <input type="number" name="price" id="price" placeholder="In dollars" value="<%= item !== undefined ? item.price : "" %>">
    </div>

    <div>
      <label for="number_in_stock">In stock (units):</label>
      <input type="number" name="number_in_stock" id="number_in_stock" placeholder="In single units" value="<%= item !== undefined ? item.number_in_stock : "" %>">
    </div>

    <button type="submit">Submit</button>
  </form>

  <% if (errors) { %>
    <ul>
      <% errors.forEach(error => { %>
        <li><%= error.msg %></li>
      <% }); %>
    </ul>
  <% } %>

<%- include('footer'); -%>